/*Etiquetas*/
body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 65%;
    padding: 2em 2em 4em;
}
header{
	font-weight: bolder;
    text-decoration:none;
    text-transform:capitalize;
	
	position: relative;
    float:left;
	
	height:20%;
	width:100%;
}

h3{ 
    padding:5px;
    
	border-radius:10px;
    
    color:blueviolet;
    font-size:1.8em;

    width:20%;

    
}

/*clases*/

.boton-menu{
    
    background:linear-gradient(#9F0AFB, #480075);
    
    padding:5px;
    
	border-radius:10px;
    border-width:2px;
	border-style:solid;
	border-color: #A889BB;
    
    color:aliceblue;
   
	text-decoration:none;
}
.buscador{
		border-radius:10px;
		padding:5px;
}
/*ids*/
#logo-U{ 
    padding:20px;
    width:0px;
    position:relative;
    float:left;
    z-index:-2;
    
    border-top-color:blueviolet;
    border-left-color:mediumpurple;
    border-right-color:mediumpurple;
    border-bottom-color:blueviolet;
	border-radius:50%;
    border-width:10px;
    border-style: solid;
    
    animation: giroLogo 20s linear infinite;
}


/*animaciones*/
@keyframes giroLogo{
    from{ transform: rotate(0deg)}
    to{transform:rotate(360deg)}
}