header{
    display: none;
}
.bus-form{
    display:none;
}
.buscadorLink{
    display:none;
}
body { 
    color: #000; 
    font: 12px Georgia, "Times New Roman", Times, serif;
}
img{
    max-width: 500px;
    max-height: auto;
}
.fotoLink{
    display: none;
}
footer{
    display: none;
}
#buscarAvanzada{
    display: none;
}